.content{
    margin-left: 5%;
    margin-top: 5%;
}
.main{
    display: flex;
}
.header{
    font-size: 100px;
    
}
.your-source{
    font-size: x-large;

}
button{
    display: inline;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 18px 34px;
    font-size: 15px;
    background: rgb(240, 118, 118);
    position: relative;
    cursor: pointer;
    border-radius: 15px;
}
button:hover{
    border: 1px solid #241717;
    background: #241717;
    transition: 1s;
}